
<!-- jQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
	<!-- materialize  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!-- materialize js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<!-- google fonts for materialize -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="script.js"></script>


	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

	<!-- SOCKET.IO and modals for chat -->
	<script src="/socket.io/socket.io.js"></script>  
    <script>
    	$(document).ready(function(){
    		// modal option
    		$('#modal1').modal();
    		// button button-collapse option
    		$(".button-collapse").sideNav();
    		var socket = io();
    		var userName = 'GUEST';
    		// use if statment to see if req.session.name exist then change userName to match req.session.name
    		$('#submit-message').submit((event)=>{
    			event.preventDefault();
    			var newMessage = $('#new-message').val();
    			$("#new-message").val('');
    			socket.emit('messageToServer', {
    				message: newMessage,
    				name: userName
    			});
    			// socket.emit('nameToServer', {
    			// 	name: userName
    			// })
    		});
    		// function sendFunction(){
    		// 	socket.emit('messageToServer', $('#new-message').val());
    		// 	$('#new-message').val('');
    		// }
    		socket.on('messageToClient', (msg)=>{
    			if(msg.message != ""){
	    			$('#messages').prepend(`<p>${msg.message}</p>`);
	    			$('#user-name').prepend(`<p>${msg.name}</p>`);
	    		}
    			// $('#messages').append($('<li>').text(msg));
    			// $('#messages').append($('<li>').text(msg));
    		// });
    		});
    		// socket.on('nameToClient', (msg)=>{
    		// 	$('#user-name').prepend(`<p>${msg.name}</p>`);
    		// });
    		$('#clear').click(function(){
	    		$("#messages").empty();
	    		$("#user-name").empty();
	    	});
    	});

    </script>
