
<!-- jQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
	<!-- materialize  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!-- materialize js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<!-- google fonts for materialize -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="script.js"></script>


	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

	<!-- SOCKET.IO and modals for chat -->
	<script src="/socket.io/socket.io.js"></script>  
    <script>
    	$(document).ready(function(){
    		// button button-collapse option
    		$(".button-collapse").sideNav();
    		$('#modal1').modal();
    		var socket = io();
    		var userName = 'GUEST';
    		// use if statment to see if req.session.name exist then change userName to match req.session.name
    		$('#submit-message').submit((event)=>{
    			event.preventDefault();
    			var newMessage = $('#new-message').val();
    			$("#new-message").val('');
    			socket.emit('messageToServer', {
    				message: newMessage,
    				name: userName
    			});
    			// socket.emit('nameToServer', {
    			// 	name: userName
    			// })
    		});
    		// function sendFunction(){
    		// 	socket.emit('messageToServer', $('#new-message').val());
    		// 	$('#new-message').val('');
    		// }
    		socket.on('messageToClient', (msg)=>{
    			var styleUser = `style='border: 1px solid #26a69a;color: white;padding: 5px;font-family: "Comic Sans MS", sans-serif'`
    			var styleMessage = `style='border: 1px solid #26a69a;color: #26a69a;padding: 5px;font-family: "Comic Sans MS", sans-serif'`
    			// if(msg.message != ""){
	    		// 	$('#messages').prepend(`<p ${style}>${msg.message}</p>`);
	    		// 	$('#user-name').prepend(`<p ${style}>${msg.name}</p>`);
	    		// }
	    		// if(msg.message != ""){
	    		// 	$('#chat-panel').prepend(`<div id="user-name" class="col s4"><p ${style}>${msg.name}</p></div><div id="messages" class="col s8"><p ${style}>${msg.message}</p></div>`);
	    		// }
	    		if(msg.message != ""){
	    			$('#chat-panel').prepend(`<div id="user-name" class="col s4"><a href="#modal1" class="waves-effect waves-light btn modal-trigger" ${styleUser} href="#">${msg.name}</a></div><div id="messages" class="col s8"><p ${styleMessage}>${msg.message}</p></div>`);
	    		}
    			// $('#messages').append($('<li>').text(msg));
    			// $('#messages').append($('<li>').text(msg));
    		// });
    		});
    		// socket.on('nameToClient', (msg)=>{
    		// 	$('#user-name').prepend(`<p>${msg.name}</p>`);
    		// });
    		$('#clear').click(function(){
	    		// $("#messages").empty();
	    		// $("#user-name").empty();
	    		$("#chat-panel").empty();
	    	});
	    	$('#user-name').click(function(){
	    
	    	})
    	});

    </script>
