<!DOCTYPE html>

    <head>
        <title>Register</title>
        <% include head %>
    </head>
    <body>
        <% include navbar %>
    <main>
        <div class="container">
		<div class="row">
			<form action="/listings" method="post">
				<div class="row">
					<div class="input-field col s2">
						<div class="input-field col s12">
							<a href="#" class="btn dropdown-button btn-block" data-activates='dropdown2'>Type<i class="material-icons right">keyboard_arrow_down</i></a>
							<ul id='dropdown2' class='dropdown-content'>  
								<li>hi</li>
								<div class="divider"></div>
								<li>h2</li>
							</ul>
						</div>
					</div>
					<div class="input-field col s2">
						<div class="input-field col s12">
							<a href="#" class="btn dropdown-button btn-block" data-activates='dropdown1'>Breed<i class="material-icons right">keyboard_arrow_down</i></a>
							<ul id='dropdown1' class='dropdown-content'>  
								<li>hi</li>
								<div class="divider"></div>
								<li>h2</li>
							</ul>
						</div>
					</div>
					<div class="input-field col s2">
						<label for="location">Location:</label>
						<input type="text" class="validate">
					</div>
					<div class="input-field col s2">
						<label for="location">Age:</label>
						<input type="text" class="validate">
					</div>
					<div class="input-field col s2">
						<label for="location">Gender:</label>
						<input type="text" class="validate">
					</div>
					<div class="input-field col s2">
						<!-- margin needs to be top 7px -->
						<button class="btn btn-block waves-effect waves-light">Search!</button>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col s4">
				<h3>Hello!</h3>
			</div>
		</div>
		<div class="row">
			<div class="col s6 flow-text">
				Welcome to PetBasket!
				<p class="flow-text">We're here to help match you with your ideal pet or list a pet
				available for adoption.</p>
				<p class="flow-text">It's free to join, so sign up to be a part of our family today!</p>
			</div>
			<div class="col s6">
				<img src="../images/pets_group.jpg" />
			</div>
		</div>
	</div>
    </main>
    <% include footer %> 
    </body>
</html>