<!DOCTYPE html>

    <head>
        <title>Register</title>
        <% include head %>
    </head>
    <body>
        <% include navbar %>
	<script type="text/javascript">
		$(document).ready(() => {
				// initiate selection dropdown
				$('select').material_select();

				// Hide dog/cat breeds to only show when a type is selected
				$('.dog-breeds, .cat-breeds').hide();
				// show dog/cat breeds depending on selection
				$('#breeds-select').change(function () {
					var inputValue = $(this).val();
					// console.log(inputValue)
					if (inputValue == "dog") {
						$('.dog-breeds').show();
						$('.cat-breeds').hide();
					} else if (inputValue == "cat") {
						$('.cat-breeds').show();
						$('.dog-breeds').hide();
					}
				});
			});
	</script>

    <main>
        <div class="container">
		<div class="row">
			<form action="/listings" method="post">
				<div class="row">
					<div class="input-field col s2">
						<select id='breeds-select'>
							<option value="" disabled selected>Type</option>
							<option value="dog" class="dog" id="dog">Dog</option>
							<option value="cat" class="cat" id="cat">Cat</option>
						</select>
					</div>
					<div class="input-field col s2">
						<div class="breeds dog-breeds">
							<% include dog_breeds %>
						</div>
						<div class="breeds cat-breeds">
							<% include cat_breeds %>
						</div>
					</div>
					<div class="input-field col s2">
						<label for="location">Location:</label>
						<input type="text" class="validate">
					</div>
					<div class="input-field col s2">
						<select multiple>
							<option value="" disabled selected>Age</option>
							<option value="baby">Baby</option>
							<option value="young">Young</option>
							<option value="adult">Adult</option>
							<option value="senior">Senior</option>
						</select>
					</div>
					<div class="input-field col s2">
						<select>
							<option value="" disabled selected>Gender</option>
							<option value="f" class="dog">Female</option>
							<option value="m" class="cat">Male</option>
							<option value="u" class="cat">Unknown</option>
						</select>
					</div>
					<div class="input-field col s2">
						<!-- margin needs to be top 7px -->
						<button class="btn btn-block waves-effect waves-light">Search!</button>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col s4">
				<h3>Hello!</h3>
			</div>
		</div>
		<div class="row">
			<div class="col s6 flow-text">
				Welcome to PetBasket!
				<p class="flow-text">We're here to help match you with your ideal pet or list a pet
				available for adoption.</p>
				<p class="flow-text">It's free to join, so sign up to be a part of our family today!</p>
			</div>
			<div class="col s6">
				<img src="../images/pets_group.jpg" />
			</div>
		</div>
	</div>
    </main>
    <% include footer %> 
    </body>
</html>