<!DOCTYPE html>

    <head>
        <% include head %>
        <title>Log In</title>

    </head>
    <body>
   		<% include navbar %>
		   <script type="text/javascript">
		$(document).ready(() => {
				// initiate selection dropdown
				$('select').material_select();

				// Hide dog/cat breeds to only show when a type is selected
				$('.dog-breeds, .cat-breeds').hide();
				// show dog/cat breeds depending on selection
				$('#breeds-select').change(function () {
					var inputValue = $(this).val();
					// console.log(inputValue)
					if (inputValue == "dog") {
						$('.dog-breeds').show();
						$('.cat-breeds').hide();
					} else if (inputValue == "cat") {
						$('.cat-breeds').show();
						$('.dog-breeds').hide();
					}
				});
			});
	</script>
     <main>
		<div class="container">
			<form action="/searchFromListings" method="post">
				<div class="row">
					<div class="input-field col s2">
						<select id='breeds-select'>
							<option value="" disabled selected>Type</option>
							<option value="dog" class="dog" id="dog">Dog</option>
							<option value="cat" class="cat" id="cat">Cat</option>
						</select>
					</div>
					<div class="input-field col s2">
						<div class="breeds dog-breeds">
							<% include dog_breeds %>
						</div>
						<div class="breeds cat-breeds">
							<% include cat_breeds %>
						</div>
					</div>
					<div class="input-field col s2">
						<label for="location">Location:</label>
						<input type="text" class="validate">
					</div>
					<div class="input-field col s2">
						<select multiple>
							<option value="" disabled selected>Age</option>
							<option value="baby">Baby</option>
							<option value="young">Young</option>
							<option value="adult">Adult</option>
							<option value="senior">Senior</option>
						</select>
					</div>
					<div class="input-field col s2">
						<select>
							<option value="" disabled selected>Gender</option>
							<option value="f" class="dog">Female</option>
							<option value="m" class="cat">Male</option>
							<option value="u" class="cat">Unknown</option>
						</select>
					</div>
					<div class="input-field col s2">
						<!-- margin needs to be top 7px -->
						<button class="btn btn-block waves-effect waves-light">Search!</button>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col s12">
					<h3>Featured</h3>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<p class="header">Horizontal Card</p>
					<div class="card horizontal">
						<div class="card-image">
							<img src="big-sur.jpeg">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information.</p>
							</div>
							<div class="card-action right-align">
								<a href="" class="btn-floating btn-large red"><i class="material-icons">add</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="divider"></div>
			<div class="row">
				<div class="col s12">
					<p class="header">Horizontal Card</p>
					<div class="card horizontal">
						<div class="card-image">
							<img src="big-sur.jpeg">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information.</p>
							</div>
							<div class="card-action right-align">
								<a href="" class="btn-floating btn-large red"><i class="material-icons">add</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="divider"></div>
			<div class="row">
				<div class="col s4">
					<!-- Pictures -->
				</div>
				<div class="col s7">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia facere aliquid consectetur voluptates necessitatibus, vel consequatur dolore voluptatem, delectus at officia tenetur cumque praesentium labore dolor laboriosam, enim illum numquam!
				</div>
				<div class="col s1">
					<a href="" class="btn-floating btn-large red"><i class="material-icons">add</i></a>
				</div>
			</div>
		</div>
	</main>
    <% include footer %>
    </body>
</html>