<script>
	$(document).ready(function){
		$(".dropdown-button").dropdown();
	}
</script>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/profile">Account</a></li>
  <li><a href="/changePassword">Security</a></li>
  <li><a href="/emailSettings">Email Settings</a></li>
  <li><a href="myListings">My Listings</a></li>
  <li><a href="/logOut">Log Out</a></li>
</ul> 
 
 <nav>
    <div class="nav-wrapper">
      	<a href="/" class="brand-logo">PetBasket</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
		 <% if (locals.firstNameTest !== undefined){ %>
		 	<li><a href="/listings">Explore</a></li>
        	<li><a href="/upload">Add Listing<i class="material-icons right">add_to_photos</i></a></li>
			<li><a href="/">Messages<i class="material-icons right">message</i></a></li>
			 <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
		<% }else{ %> 
			<li><a href="/register">Sign Up</a></li>
			<li><a href="/login">Login</a></li>
		<% } %>
		</ul>
    </div>
</nav>