<div class="col s4">
    <div class="collection">
        <a href="#!" class="collection-item">Account</a>
        <a href="#!" class="collection-item">Password</a>
        <a href="#!" class="collection-item">Email Notifications</a>
        <a href="#!" class="collection-item">
            <span class="badge">5</span>My Listings</a>
    </div>
</div>