body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
   flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

.brand-logo {
	font-family: 'Bree Serif', serif;
}

h3 {

	font-family: 'Bree Serif', serif;
	color: black;
}

.footer-logo {
	font-family: 'Bree Serif', serif;
	font-size: 18px;
	padding: 0 5px;
	line-height: 30%;
}

nav, .brand-logo {
 	font-family: 'Bree Serif', serif;
	color: #26a69a;
	color: #fff;
	padding: 0 15px;
}

nav {
    color: #fff !important;
    background-color:  #26a69a !important;
    width: 100%;
    height: 56px;
    line-height: 56px;
 }


.footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
/*    color: rgba(255,255,255,0.8);
    background-color: rgba(51,51,51,0.08);*/
    color: #fff !important;
    background-color:  #26a69a !important;
}






