body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
   flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

.brand-logo {
	font-family: 'Bree Serif', serif;
	color: #26a69a;
}

nav, .brand-logo {
 	font-family: 'Bree Serif', serif;
	color: #26a69a;
	color: #fff;
	padding: 0 15px;
}

nav {
    color: #fff !important;
    background-color:  #26a69a !important;
    width: 100%;
    height: 56px;
    line-height: 56px;
 }





